<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>QR Api</title>
        <link rel="stylesheet" href="static/all.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script type="text/javascript" src="static/qrapi.js"></script>
    </head>
    <body>
        <div id="container">
            <a href="/" title="QR API"><img src="/gae-qrapi" alt="QR API Logo" /></a>
            <form action="" method="get">
                <label>URL or text<textarea name="value">{{ value }}</textarea></label>
                <span class="small grey" id="tips"></span>
                <button type="submit">Get QR image</button>
            </form>
        </div>
        <span data-adblocksize="468x60" class="emberadblock" > </span>
        <!--
        <script type="text/javascript">var emberAdsUserUID = '6fb99e10-7129-012f-09e5-022419e8e4ae';var emberAdsPlusLinks = 1;</script>
        <script type="text/javascript" src="https://js.emberads.com/pineapple.js" async="true"></script>
        -->
        
        <div>
            <h1>QR API</h1>
            <p></p>
        </div>
    </body>
</html>
